@media only screen and (max-width: 1225px) {
    .hero-text-box{
        width: 100%;
        padding: 0 2%;
        position: absolute;
    }
    .row { 
        padding: 0 2%;
    }
}



/* 1023px */
@media only screen and (max-width: 1023px) {
    body {
        font-size: 18px;
    }
    section {
        padding: 60px 0;
    }

    .steps-box:first-child {
        margin-top: 10px;
        /* text-align: center; */
        padding-right:50px; 
        padding-top: 0;
    }

    .steps-box:last-child {
        margin-top: 10px;
        margin-left: 0;
        padding-left: 0;
        padding-right: 40px;
    }

    .works-step:last-of-type {
        margin-bottom: 30px;
    }

    .city-feature {
        font-size: 85%;
    }

    .section-cities h3 {
        text-align: left;
    }

    .city-feature i {
        width: 17px;
    }

    .plan-box {
        width: 100%;
        margin-left: 0%;
    }

    .plan-box ul li {
        font-size: 80%;
    }

    .contact-form {
        width: 80%;
    }

    nav .row {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
    }

    .logo {
        width: 180px;
        text-align: center;
        margin: 3% auto;
    }

    .main-nav{
        text-align: center;
    }
}



/* 767PX */
@media only screen and (max-width: 767px) {
    
    body {
        font-size: 16px;
    }

    h1 {
        font-size: 200%;
    }

    .app-screen {
        width: 80%;
    }
    .city-feature .fa-users {

    }

    .steps-box:last-child {
        margin-top: 10px;
        margin-left: 0;
        padding-left: 0;
        padding-right: 10px;
    }

    .works-step div{

        padding-right: 0; 
        margin-right: 5px;
        width: 35px;
        border: none;
        border-radius: 0%;
    }


 
    
    .plan-box .btn-full{
        width: 100px;
    }

    .plan-box .btn-ghost{
        width: 100px;
    }


}













